.table-withholds-head {
    width: 100%;

    td {
        padding: 0.3em;
    }

    .label-head {
        width: 25%;
    }
}

.table-withholds-line {
    width: 100%;
    margin-top: 70px;

    td {
        padding: 0.5em;
    }
}
